*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #212529; 
}
#cvContent{
    width: 60%;
}

#logoFoot{
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
}
.logo{
    width: 300px;
    height: 150px;
}
.cardsize{
    height: 33%;
}

.formsize {
    height: 500px;
}
.card{
    margin-top: 20px;
}
#footform{
    margin-top: 100px;
}
.buttonForm{
    height: 40px;
}
#form-conteiner{
    padding-top: 2%;
    padding-left: 35%;
    padding-right: 35%;
    padding-bottom: 2%;
}